<ion-header>
  <ion-toolbar color="mycolor">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-title>EcoFlo</ion-title>
    <ion-searchbar placeholder="Escribe para buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Mis compras</ion-title>
  <ion-list>
    <ion-item>
      <ion-label>Mis Direcciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Direcciones</ion-label>
    </ion-item>
  </ion-list>

  <ion-title>Informacion</ion-title>
  <ion-list>
    <ion-item>
      <ion-label>Formas de pago</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Facturacion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Formas de pago</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Formas de pago</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Garantia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sostenibilidad</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
