ion-toolbar{
    background-color: var(--ion-color-mycolor);
    height: 160px;
    border-radius: 0px 0px px 10px;
}

ion-title{
    font-size: 1.5em;
    float: inline-start;
    padding-top: 15px,
}
ion-searchbar{
    padding: 20px;
}
ion-icon{
    float: right;
    padding-right: 20px;
    width: 40px;
    height: 40px;
}
ion-content.categorias{
    text-align: center;
    
}
img.img-categoria{
    height: 130px;
}
ion-card.categoria{
    padding-bottom:40px;
    display: inline-flex;
    width: 120px;
    height: 250px;
}

