<ion-header>
  <ion-toolbar color="mycolor">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-title>EcoFlo</ion-title>
    <ion-searchbar placeholder="Escribe para buscar"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="categorias">
  <ion-title class="categorias">categorias</ion-title>
  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/83/c4/a9/83c4a9ae433783bb658a7adc6086c141.jpg" class="img-categoria"  alt="">
      <ion-card-title>Aromatica o medicinal</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/564x/9e/72/5b/9e725b4d3b390c3697d00ffa03b0da45.jpg" class="img-categoria" alt="">
      <ion-card-title>Cactaceas</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/99/31/d8/9931d8751850a240db1c4edf7c622279.jpg" class="img-categoria"  alt="">
      <ion-card-title>Suculenta</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/564x/fa/e3/6e/fae36e57a4d61590010cd3239e4b651c.jpg" class="img-categoria" alt="">
      <ion-card-title>Herbacera</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/e1/5d/5f/e15d5f9a9df02cab7f1a20e5bd2f1b6b.jpg" class="img-categoria"  alt="">
      <ion-card-title>Palmacera</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/8f/14/b5/8f14b58290aadb0f66d63eb6a5dbda4d.jpg" class="img-categoria" alt="">
      <ion-card-title>Planta acuatica</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/5d/79/a4/5d79a4954691d5919e343bb2763f5bda.jpg" class="img-categoria"  alt="">
      <ion-card-title>Planta bulbosa</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/38/d3/22/38d32249353ae2891c0a396d681e66ba.jpg" class="img-categoria" alt="">
      <ion-card-title>Planta Trepadora</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/e3/51/9c/e3519cad7e6db224f3764c99dfaeaf92.jpg" class="img-categoria"  alt="">
      <ion-card-title>Plantas con macetas <br> recicladas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="categoria" color="light" >
    <ion-card-header>
      <img src="https://i.pinimg.com/236x/9b/70/83/9b708381a23e47e43c87368f468926b3.jpg" class="img-categoria" alt="">
      <ion-card-title>Planta de temporada</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>
