<ion-header>
  <ion-toolbar color="mycolor">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-title>EcoFlo</ion-title>
    <ion-searchbar placeholder="Escribe para buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="donaciones">
  <ion-title>Donaciones</ion-title>
  <p>Te gustaria aportar tu granito de arena y
    reciclar algunas macetas que ya no ocupes</p>
  <img src="https://i.pinimg.com/236x/81/b7/65/81b7652114590a0b70d971637ada7cfa.jpg" alt="">
  <p>Ayudaras en la reduccion de la contamincacion
    de la basura, ademas de que tendras beneficios
    por ayudar al planeta </p>
  <ion-title>Beneficios</ion-title>
  <p>1.- Estos son unos de los beneficios que recibiras: </p>
  <p>
    2.- Recibiras un descuento en la compra de nuevas
    plantas
  </p>
  <p>
    3.- Permite ahorrar energía de forma significativa
  </p>
  <p>
    4.- Reciclar ayuda a evitar la explotación de los recursos naturales
  </p>
  <p>
    5.- Se evitan los métodos de extracción de recursos naturales
  </p>
  <p>
    6.- Se reduce la contaminación
  </p>
</ion-content>